.venv/
backend/.flaskenv
README.md
*.pyc
*.pyo
*.pyd
*__pycache__
.pytest_cache
backend/__pycache__
# *.db
# backend/gloves.db
# backend/trained/dexterity.pkl
# backend/trained/frostbite.pkl