Gunicorn
beautifulsoup4
certifi
charset-normalizer
click
colorama
docker
Flask
Flask-Cors
Flask-JWT-Extended
flask-marshmallow
Flask-sqlalchemy
greenlet
idna
itsdangerous
Jinja2
joblib
MarkupSafe
marshmallow
marshmallow-sqlalchemy
numpy
pandas
PyJWT
python-dateutil
python-dotenv
pytz
requests
scikit-learn
scipy
six
soupsieve
SQLAlchemy
threadpoolctl
urllib3
websocket-client
Werkzeug
libsqlite3-dev
